@model List<Calorie>;

@{
    ViewData["Title"] = "Calorie Home Page";
}

<h2 style="text-align: center;"> Calorie Counter</h2>
<hr />
<br />
@foreach(Calorie c in Model)
{
    <p>
        @c.Name
        @c.Calories
        <a asp-route-id="@c.Id" asp-action="Edit">Edit</a>
        <a asp-route-id="@c.Id" asp-action="Delete">Delete</a>
    </p>
}

<a asp-action="Add">Add Food</a> 
<a asp-action="Calculate">Calculate Calories</a> 