@model List<Calorie>;

@{
    ViewData["Title"] = "Calorie Home Page";
}

<h2 style="text-align: center;"> Calorie Counter</h2>
<hr />
<br />
@foreach(Calorie c in Model)
{
    <p>
        @c.Name
        @c.Calories
    </p>
}
